*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(243.49deg, #013647 0%, #003242 9.64%, #005773 40.13%, #009FC1 58.17%, #001FC1 87.07%, #00A67E 100%);;
}
.container {
    user-select: none;
}
.container .tempo {
    height: 100px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    padding: 0 10px;
}
.container .tempo span{
    width: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: #333;
}
.tempo span.colon {
    width: 10px;
}
.tempo span.ms-colon, .tempo span.miliseg {
    color:#001FC1;
}
.container .buttons{
    text-align: center;
    margin-top: 20px;

}
.buttons button{
    padding: 6px 16px;
    outline: none;
    border: none;
    margin: 0 5px;
    color: #001FC1;
    background: #fff;
    font-size: 19px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
.buttons button.active, .buttons button.stopActive{
    cursor: not-allowed;
    opacity: 0.8;
}